---
layout: landing
title: Accueil
permalink: /
---

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title brand-title">
        L'assembleuse
      </h1>
      <h2 class="subtitle">
          Une agence qui se donne pour mission d'outiller humainement et numériquement les initiatives de la transition.
      </h2> 
      <!-- <a href="#contact" class="button is-info">Alors discutons !</a> -->
    </div>
  </div>
</section>

<section class="section is-medium">
    <div class="container">
      <h2 class="title">
        En savoir plus
      </h2>
      <p class="content">Vous voulez être tenu au courant du lancement de l'assembleuse et de ses dernières actualités ? <br> Laissez nous votre email, et nous reprendrons contact, d'une façon ou d'une autre.</p>
      <div class="content">
        <form name="know-more" method="POST" netlify-honeypot="bot-field" netlify>
          <p class="is-hidden">
            <label>Name <input name="bot-field" /></label>
          </p>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" name="email" placeholder="Text input">
            </div>
          </div>
          <p>
              <label>Your Role: <select name="role[]" multiple>
                <option value="leader">Leader</option>
                <option value="follower">Follower</option>
              </select></label>
            </p>
          
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                Mes données ne seront utilisées QUE par l'Assembleuse pour garder contact, et je suis d'accord avec ça.
              </label>
            </div>
          </div>
          <p class="content is-italic">Nous faisons le serment de ne jamais communiquer vos données à qui que ce soit. Jamais.</p>
          <p>
            <button class="button" type=”submit”>Envoyer</button>
          </p>
        </form>
      </div>

    </div>
</section>

<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <ul class="contact-list">
            <li>
                <p>{{ site.description | escape }}</p>
            </li>
            {% if site.email %}
            <li>
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="column is-one-third is-offset-one-third has-text-right-desktop">
          <ul class="social-media-list">
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %} {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </footer>