---
layout: project
title: Projets
permalink: /projets-realises
top_menu: true
position: 3
---

{% assign entries = site.projects | sort: "date" | reverse %}

<div class="columns is-multiline">
  {% for entry in entries %}
  <div class="column is-half-desktop">
      <div class="card project-card">
          <div class="card-image">
            <figure class="image">
              <a href="{{ site.baseurl }}{{ entry.url }}">
                <img src="{{ entry.image | absolute_url}}" alt="Placeholder image">
              </a>
            </figure>
          </div>
          <div class="card-content">
            <h2 class="title is-4">
              <a class="{% if page.title contains entry.title %}active{% endif %}" 
                href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            </h2>
            <p class="subtitle is-6">{{ entry.subtitle }}</p>
          </div>
        </div>
  </div>
  {% endfor %}
</div>





