@keyframes fadeAppear
  from
    opacity: 0
  to
    opacity: 1

body
  animation-duration: 3s
  animation-fill-mode: both
  animation-name: fadeAppear

input[type="checkbox"],
input[type="radio"]
  vertical-align: middle

// Custom ==================================

.is-index-page
  .subtitle
    font-weight: bold
    a
      transition: all 0.5s ease
      text-decoration: none
      &.is-active, &:hover, a:active
        background-color: $secondary
        color: $light
        text-decoration: none

.page-header
  margin-bottom: 3em
  .title
    color: $primary
.page-content
  background-color: #ffffff
  padding: 2em 1.25em
  +desktop
    padding: 3em 2em