<footer class="footer is-primary">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <ul class="contact-list">
          <li>
            <p>{{ site.description | escape }}</p>
          </li>
        </ul>
      </div>
      <div class="column is-one-third is-offset-one-third has-text-right-desktop">
        <ul class="social-media-list">
          <!-- <li class=brand-title>
            L'assembleuse
          </li> -->
          <li>
            Dinan - Rennes - Saint-Malo
          </li>
          <br>
          {% if site.email %}
          <li class="link-item">
            <a href="mailto:{{ site.email }}">
              <span class="icon is-small">
                <i class="far fa-envelope"></i>
              </span>
              {{ site.email }}</a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="link-item">
            {% include icon-github.html username=site.github_username %}
          </li class="link-item">
          {% endif %} {% if site.twitter_username %}
          <li class="link-item">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- <hr> -->
    <div class="columns">
      <div class="column is-one-third">
        <ul class="contact-list">
          <li class="link-item">
            <a href="{{ "" | absolute_url }}">
              Accueil
            </a>
          </li>
          <li class="link-item">
            <a href="/philosophie">
              Philosophie
            </a>
          </li>
          <li class="link-item">
            <a href="/savoir-faire">
              Savoir-faire
            </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third is-offset-one-third has-text-right-desktop">
        <ul class="social-media-list">
          <li class="link-item">
            <a href="/projets">
              Projets
            </a>
          </li>
          <li class="link-item">
            <a href="/collectif">
              Collectif
            </a>
          </li>
          <li class="link-item">
            <a href="{{ "contact" | absolute_url }}">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="section has-text-centered">
        <p class="link-item">Sauf mention contraire, les contenus de ce site sont sous licence <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/">Creative Commons BY-NC-SA</a></p>
      </div>
  </div>

</footer>