<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <ul class="contact-list">
          <li>
              <p>{{ site.description | escape }}</p>
          </li>
          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="column is-one-third is-offset-one-third has-text-right-desktop">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %} {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>