<header role="banner">
  <nav class="navbar is-primary-invert">
    <div class="container">
      <div class="navbar-brand brand-title">
        <a class="navbar-item" href="{{ "" | absolute_url }}">
          <span class="">{{ site.title }}</span>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
          {% assign entries = site.pages | where:"top_menu","true" | sort: "position" %}
          {% for entry in entries %}
            <a class="navbar-item {% if page.title contains entry.title %}active{% endif %}" 
            href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
          {% endfor %}
          
          <!-- <a class="navbar-item" href="/philosophie">
            Philosophie
          </a>
          <a class="navbar-item" href="/savoir-faire">
            Savoir-faire
          </a>
          <a class="navbar-item" href="/projets">
            Projets
          </a>
          <a class="navbar-item" href="/collectif">
            Collectif
          </a>
          <a class="navbar-item" href="/contact">
            Contact
          </a> -->
        </div>
      </div>
    </div>
  </nav>
</header>
