<header role="banner">
  <nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ "" | absolute_url }}">
          <strong>{{ site.title }}</strong>
          <!-- <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="#quoi">
            Quoi
          </a>
          <a class="navbar-item" href="#comment">
            Comment
          </a>
          <a class="navbar-item" href="#qui">
            Qui
          </a>
          <a class="navbar-item" href="#contact">
            Contact
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
