---
layout: default
---
<div class="container container-sm">

  <article class="post section" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="page-header">
      <h1 class="title is-spaced is-2">{{ page.title | escape }}</h1>
      <p class="subtitle is-5">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | localize: "%d %B %Y" }}
        </time>
        {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}
      </p>
    </header>
  
    <div class="content page-content" itemprop="articleBody">
      {{ content }}
    </div>
  
  </article>

</div>
